<!doctype html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link href="http://cdn.muicss.com/mui-0.1.10/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/font.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.css" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
    <header>
      <ul class="mui-tabs mui-tabs-justified green">
        <li class="mui-active">
          <a class="nav-tab" data-url="" data-mui-toggle="tab" data-mui-controls="pane-justified-1">Dashboard</a>
        </li>
        <li>
          <a class="nav-tab metrics" data-url="metrics" data-mui-toggle="tab" data-mui-controls="pane-justified-2">Metrics</a>
        </li>
        <li>
          <a  class="nav-tab control" data-url="control" data-mui-toggle="tab" data-mui-controls="pane-justified-3">Control</a>
        </li>
        <li>
          <a data-mui-toggle="tab"  class="nav-tab settings" data-url="settings" data-mui-controls="pane-justified-4">Settings</a>
        </li>
      </ul>
    </header>
    <div class="mui-tab-content">
      <div class="mui-tab-pane mui-active" id="pane-justified-1">
        <div id='map'></div>
        <button class="mui-btn mui-btn-floating lock-key toggle-top">+</button>
        <footer>
          <div class="mui-appbar topbar light-green">
            <div class="mui-panel mui-col-xs-3 stat-wrapper top " id="top">
              <div class="rotate-wrapper"></div>
            </div>
            <div class="mui-panel mui-col-xs-3 stat-wrapper back" id="back">
              <div class="rotate-wrapper"></div></div>
            <div class="mui-panel mui-col-xs-3 stat-wrapper side" id="side">
              <div class="rotate-wrapper"></div></div>
            <div class="mui-panel mui-col-xs-3 stat-wrapper distance ">--.-</div>
          </div>
          <div class="mui-appbar top light-green">
            <div class="mui-panel mui-col-xs-3 stat-wrapper speedo speed">--.-</div>
            <div class="mui-panel mui-col-xs-3 stat-wrapper temp">--</div>
            <div class="mui-panel mui-col-xs-3 stat-wrapper altitude">--.-</div>
            <div class="mui-panel mui-col-xs-3 stat-wrapper speedo rpm">----</div>
          </div>
        </footer>
      </div>
      <div class="mui-tab-pane" id="pane-justified-2">
        <div class="mui-container">
        <!-- Metrics -->
        <h1>Metrics</h1>
        <div class="mui-panel">
          <% if (typeof devices !=="undefined" && devices !=null) { %>
            <% for(var i=0; i<devices.length; i++) { %>
              <h2>
                <%= devices[i].name %><span class="<%= devices[i].mac.replace(/:/g, '') %> status red"></span>
              </h2>
              <div class="mui-panel mui-col-xs-12 mui-col-lg-6 ">
                <h3>Temperature</h3>
                <div class="chart-wrapper" data-mac="<%= devices[i].mac %>" data-metric="temperature">
                 </div>
              </div>
              <div class="mui-panel mui-col-xs-12 mui-col-lg-6 ">
                <h3>Altitude</h3>
                <div class="chart-wrapper" data-mac="<%= devices[i].mac %>" data-metric="altitude">
                 </div>
              </div>
              <div class="mui-panel mui-col-xs-12 mui-col-lg-6 ">
                <h3>Snelheid</h3>
                <div class="chart-wrapper" data-mac="<%= devices[i].mac %>" data-metric="knots">
                 </div>
              </div>
              
              <div class="mui-panel mui-col-xs-12 mui-col-lg-6 ">
                <h3>RPM</h3>
                <div class="chart-wrapper" data-mac="<%= devices[i].mac %>" data-metric="RPM">
                 </div>
              </div>
              <% } %>
                <% } %>
        </div>
        </div>
      </div>
      <div class="mui-tab-pane" id="pane-justified-3">
        <div class="mui-container">
        <!-- Control -->
        <h1>Control</h1>
        <div class="mui-panel">
          <% if (typeof devices !=="undefined" && devices != null) { %>
            <% for(var i=0; i<devices.length; i++) { %>
              <h2>
                <%= devices[i].name %><span class="<%= devices[i].mac.replace(/:/g, '') %> status red"></span>
              </h2>
              <div class="mui-panel">
                
                <div class="paper-toggle mui-divider-bottom autocontrol-wrapper">
                  <input type="checkbox" id="auto" name="autp" data-id="auto" data-mac="<%= devices[i].mac %>" class="switch" />
                  <label for="auto">Auto control</label>
                </div>
                
                <div class="paper-toggle">
                  <input type="checkbox" id="stream" name="stream" data-id="stream" checked data-mac="<%= devices[i].mac %>" class="switch" />
                  <label for="stream">Stream</label>
                </div>
                <div class="paper-toggle">
                  <input type="checkbox" id="frontLight" data-id="frontLight" data-mac="<%= devices[i].mac %>" name="frontLight" class="switch"
                  />
                  <label for="frontLight">Voorlicht</label>
                </div>
                <div class="paper-toggle">
                  <input type="checkbox" id="backLight" data-id="backLight" data-mac="<%= devices[i].mac %>" name="backLight" class="switch"
                  />
                  <label for="backLight">Achterlicht</label>
                </div>
                <div class="paper-toggle">
                  <input type="checkbox" id="halt" name="halt" data-id="halt" data-mac="<%= devices[i].mac %>" class="switch"
                  />
                  <label for="halt">Startonderbreking</label>
                </div>
              </div>
              <% } %>
                <% } %>
               </div>
          </div>
      </div>
      <div class="mui-tab-pane" id="pane-justified-4">
        <div class="mui-container">
          <!-- Settings -->
          <h1>Settings</h1>
          <div class="mui-panel">
            <h2>Devices</h2>
            <script>
              var deviceArray = [];
            </script>
            <% if (typeof devices !== "undefined" && devices != null) { %>
              <% for(var i=0; i<devices.length; i++) { %>
                <script>
                  deviceArray.push("<%= devices[i].mac %>");
                </script>
                 <% if (devices[i].ttl == "true") { %>
                <div class="device mui-panel">
                  <h3>
                    <%= devices[i].name %><span class="<%= devices[i].mac.replace(/:/g, '') %> status red"></span>
                  </h3>
                  <p data-ttl="<%= devices[i].ttl %>">
                    <%= devices[i].mac %>
                  </p>
                 
                  <div class="button-wrapper">
                    <h1>
                      <i class="md md-share" data-id="<%= devices[i]._id %>"></i>
                    </h1>
                    <h1>
                      <i class="md md-delete" data-id="<%= devices[i]._id %>"></i>
                    </h1>
                  </div>
                </div>
                <% } %>
                <% } %>
                  <% } %>
                    <button class="btn-add-device mui-btn mui-btn-default mui-btn-raised full-wdth max-500">Add Device</button>
          
          </div>
          <div class="mui-panel">
          <h2>Shares</h2><% if (typeof devices !== "undefined" && devices != null) { %>
              <% for(var i=0; i<devices.length; i++) { %>
                 <% if (devices[i].ttl != "true") { %>
                <div class="device mui-panel">
                  <h3>
                    <%= devices[i].name %><span class="<%= devices[i].mac.replace(/:/g, '') %> status red"></span>
                  </h3>
                  <p data-ttl="<%= devices[i].ttl %>">
                    <%= devices[i].mac %>
                  </p>
                </div>
                <% } %>
                <% } %>
                  <% } %>
            </div>
          
        </div>
        <div class="mui-container">
          <div class="mui-divider-top">
            <a href="/logout" class="btn-logout mui-btn mui-btn-primary mui-btn-raised full-wdth max-500">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- content goes here -->
    <div class="mui-overlay add-device-overlay">
      <div class="modal" id="add-device">
        <form id="frm-add-device">
          <legend>Device toevoegen</legend>
          <div class="mui-form-group">
            <input type="text" name="name" id="name" class="mui-form-control mui-empty" required="">
            <label class="mui-form-floating-label">Naam</label>
          </div>
          <div class="mui-form-group">
            <input type="text" name="mac" id="mac" class="mui-form-control mui-empty" required="">
            <label class="mui-form-floating-label">Mac adres</label>
          </div>
          <button class="btn-add-device mui-btn mui-btn-primary mui-btn-raised full-wdth btn-save-device">Save</button>
        </form>
      </div>
    </div>
    <!-- content goes here -->
    <div class="mui-overlay share-device-overlay">
      <div class="modal" id="add-device">
        <form id="frm-share-device">
          <legend>Device delen</legend>
                      <input type="hidden" name="deviceid" id="deviceid">
          <div class="mui-form-group">
            <input type="text" name="gmail" id="gmail" class="mui-form-control mui-empty" required="">
            <label class="mui-form-floating-label">Gmail</label>
          </div>
          <div class="mui-form-group">
            <input type="text" name="ttl" id="ttl" class="mui-form-control mui-empty" required="">
            <label class="mui-form-floating-label">Time To Live</label>
          </div>
          <button class="btn-add-device mui-btn mui-btn-primary mui-btn-raised full-wdth btn-share-device">Save</button>
        </form>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://cdn.muicss.com/mui-0.1.10/js/mui.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js'></script>
    <script src='/js/app.js'></script>
  </body>

</html>