<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link href="http://cdn.muicss.com/mui-0.1.10/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="green">
<div class="main-content">
	<div class="mui-panel panel-login">
	<h3>Log in met uw Google account</h3>
	  <a href="/auth/google" class="mui-btn mui-btn-primary mui-btn-raised full-wdth">Login</a>
	</div>
</div>
    <script src="http://cdn.muicss.com/mui-0.1.10/js/mui.min.js"></script>
  </body>
</html>