
.panel-login {
	max-width: 300px;
	margin: 0 auto;
	margin-top: 190px;
}

.full-wdth {
width: 100%;
}
.max-500, form {
  width: 100%;
  max-width: 500px;
}

.green {
background: #4CAF50;
}
.light-green {
background: #81C784;
}

.mui-tabs>li.mui-active>a {
color: #000;
}

.mui-tabs>li>a {
color: #fff;
}
.lock-key {

  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 100;
  }
#map {
position: fixed;
top: 48px;
left: 0;
right: 0;
bottom: 0;
}

footer {
position: fixed;
bottom: 0;
left: 0;
right: 0;
z-index: 10;
}

footer .topbar {
  position: relative;
  top: 80px;
  
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
footer .topbar.show {
  top: 0;
}


.stat-wrapper {
height: 65px;
margin: 0;
  line-height: 62px;
  font-size: 20px;
}

.rotate-wrapper {
  display: block;
  width: 55px;
  height: 55px;
  margin: 0 auto;
  

    -ms-transform-origin: 50% 50%; /* IE 9 */

    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */

    transform-origin: 50% 50%;
    
background-position: center center;
background-size: 55px;
background-repeat: no-repeat;
color: #000;
  text-align: center;
}

.back {
border-top: 5px solid #fff;
padding: 0;
}

.back .rotate-wrapper {
background-image: url('images/back.png');
}
.top {
border-top: 5px solid #fff;
padding: 0;
}
.top .rotate-wrapper {
background-image: url('images/top.png');
}
.side {
border-top: 5px solid #fff;
padding: 0;
}
.side .rotate-wrapper {
background-image: url('images/side.png');
}
.distance {
background-image: url('images/distance.png');
background-position: top center;
background-size: 30px;
background-repeat: no-repeat;
border-top: 5px solid #fff;
color: #000;
  text-align: center;
}
.speedo {
background-image: url('images/speedo.png');
background-position: top center;
background-size: 30px;
background-repeat: no-repeat;
border-top: 5px solid #fff;
color: #000;
  text-align: center;
}
.temp {
background-image: url('images/temp.png');
background-position: top center;
background-size: 30px;
background-repeat: no-repeat;
border-top: 5px solid #fff;
color: #000;
  text-align: center;
}
.altitude {
background-image: url('images/altitude.png');
background-position: top center;
background-size: 30px;
background-repeat: no-repeat;
border-top: 5px solid #fff;
color: #000;
  text-align: center;
}
.modal {

  width: 350px;
  padding: 20px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 100px;
}
.mui-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999;
  background-color: rgba(0,0,0,.2);
  overflow: auto;
}
.mui-overlay.active {
  display: block;
}
.mui-panel {
  position: relative;
}
.button-wrapper h1 {
  float: left;
  display: inline-block;
  padding-right: 10px;
  margin: 0;
  padding-top: 5px;
}

.button-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}



.marker {
  width: 26px;
  height: 26px;
  background: transparent url("images/crosshairs-128.png") 0 0 no-repeat;
  background-size: contain;
}
.devicemarker {
  width: 26px;
  height: 26px;
  background: transparent url("images/crosshairs-128-green.png") 0 0 no-repeat;
  background-size: contain;
}



.paper-toggle{
  clear: both;
  margin: 20px 0;
}

.paper-toggle input:empty
{
	margin-left: -999px;
}

.paper-toggle input:empty ~ label
{
	position: relative;
	float: left;
	line-height: 1.6em;
	width: 150px;
	cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.paper-toggle input:empty ~ label:before, 
.paper-toggle input:empty ~ label:after
{
  position: absolute;
	display: block;
  content: ' ';
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.paper-toggle input:empty ~ label:before
{
    top: 8px;
    left: 250px;
    width: 32px;
    height: 1px;
    background-color: #5a5a5a;
}

input.switch:empty ~ label:after
{
    top: 2px;
    left: 247px;
    width: 1.4em;
    height: 8px;
    bottom: 0.1em;
    margin-left: 0.1em;
    background-color: #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: solid 2px;
    border-color: #5a5a5a;
}

.paper-toggle input:checked ~ label:before
{
	background-color: #0f9d58;
}

.paper-toggle input:checked ~ label:after
{
	left: 270px;
  background-color: #0f9d58;
  border-color: #0f9d58;
}


.autocontrol-wrapper {
  display: none;
}

.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  position: relative;
  left: 10px;
  top: -1px;
}


.red {
  background-color: #FF9800;
}

.mui-divider-bottom {
  overflow: hidden;
}

.chart-wrapper {
  width: 100%;
}